body{
   /* 
   font-family: 'Tangerine', cursive;
   font-family: 'Berkshire Swash', cursive;*/
}

.header-part{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1.9;
}
.header-part h1{
    font-family: 'Acme', sans-serif;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    padding-top: 170px;
    color:white;
    
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 70px;
}
hr{
    width: 50%;
    margin-top: -10px;
}
.header-part p{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}
.header-part p button{
    text-align: center;
    margin-bottom: 180px;

}
.Button-style{
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(tomato, red);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}
.Donate-part p{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 5px;
}
.Donate-part .amount .amount1{
    margin: 10px;
}
.Donate-part .amount .amount2{
    margin: 10px;
}
.Donate-part .amount .amount3{
    margin: 10px;
}
.Donate-part .amount .amount4{
    margin: 10px;
}
.Donate-part .amount .amount5{
    margin: 10px;
}
.amount{
    display: flex;
    padding-left: 370px;
}
.amount .amount1{
    padding: 20px;
    border: 2px solid grey;
    background-color: rgb(219, 208, 208);
    font-weight: bold;
}
.amount .amount2{
    padding: 20px;
    border: 2px solid grey;
    background-color: rgb(219, 208, 208);
    font-weight: bold;
}
.amount .amount3{
    padding: 20px;
    border: 2px solid grey;
    background-color: rgb(219, 208, 208);
    font-weight: bold;
}
.amount .amount4{
    padding: 20px;
    border: 2px solid tomato;
    background-color: rgb(252, 179, 166);
    color: rgb(245, 68, 37);
    font-weight: bold;
}
.amount .amount5{
    padding: 20px;
    border: 2px solid grey;
    background-color: rgb(219, 208, 208);
    font-weight: bold;
}
p input{
    border: none;

}
.plan-heading h1{
    font-family: 'Acme', sans-serif;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 80px;
    color:rgb(50, 114, 233);
    
}
.plan-heading p{
    text-align: center;
    font-size: 1.2rem;
    color:black;
    font-weight: 500;
}
h3{
    font-size: 24px;
}
.food p{
    font-size: 1rem;
    text-transform: lowercase;

}
.shelter p{
    font-size: 1rem;
}
.donate-plan{
    display: flex;
    padding-left: 200px ;
    padding-top: 20px;
}
.food{
    background-color: rgb(172, 248, 223);
    padding: 15px;
    margin: 15px;
}
.shelter{
    background-color: rgb(247, 179, 155);
    padding: 15px;
    margin: 15px;
}
.education{
    background-color: rgb(247, 193, 127);
    padding: 15px;
    margin: 15px;
}
.pic img{
    width: 50%;
    padding-left: 180px;
    padding-top: 60px;
}
.describe{
    padding-right: 120px;
   width: 60%;
    padding-top: 40px;
}
.describe h1{
    font-family: 'Acme', sans-serif;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 500;
    
    
}
.describe p{
    text-align: center;
    font-size: 1.2rem;
    color:black;
    font-weight: 500;
    font-weight: bold;
    padding: 10px 0;
    
}
.discuss-part{
    display: flex;
}
.update h1{
    font-family: 'Acme', sans-serif;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 80px;
    color:rgb(238, 40, 238);
}
.update p{
    text-align: center;
    font-size: 1.2rem;
    color:rgb(100, 97, 97);
    font-weight: 500;
}
.input{
    display: flex;
    padding: 20px 30px 20px 120px;
    background-color:rgb(178, 240, 116);
    width: 30%;
    margin-left: 400px;
    

 }
 .Btn{
    background-image: linear-gradient(gold,tomato);
    border: none;
    padding: 10px;
 }
 footer{
    background-color: black;
    margin-top: 130px;
 }
footer h1{
    font-family: 'Acme', sans-serif;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 30px;
    color:rgb(238, 40, 238);
}
footer p{
    text-align: center;
    color: rgb(245, 233, 233);
    font-weight: 600;
    padding-bottom: 40px;
}